<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="netstandard-System.Data.Linq" version="1.0.1" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
</packages>